.CarListCard {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  padding: 0.8rem;

  background-color: var(--c-secondary);
  border-radius: 0.5rem;
  border: 2px solid var(--c-secondary);
  color: var(--c-primary);
}

.CarListCard:hover {
  background-color: var(--c-primary);
  color: var(--c-secondary);
  cursor: pointer;
}
