:root {
  --action-button-size: 26px;
}

.CarListCard {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding: 0.8rem;

  background-color: var(--c-secondary);
  border-radius: 0.5rem;
  border: 2px solid var(--c-secondary);
  color: var(--c-primary);
}

.CarListCard:hover {
  background-color: var(--c-primary);
  color: var(--c-secondary);
  cursor: pointer;
}

.content {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  flex: 4;
  padding-left: var(--action-button-size);
}

.actions {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-end;
  height: 100%;

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    height: var(--action-button-size);
    padding: 0;
    width: var(--action-button-size);

    svg {
      color: var(--c-accent);
    }
  }
}
